* ,body{
  padding:0px;
  margin:0px;
  
}


body {
  
    background-image: url("https://cdn.pixabay.com/photo/2015/04/22/11/21/to-do-734587_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height:100%;
  
   
}

